.App {
  text-align: center;
}
body {
  background-color: #f4f6ff;
  
}

.container {
  display: flex;;
  background-color: white;
  
}
span {
  font-size: 30px;
  font-weight: 200;
}

h2 {
  font-weight: 200;
}